*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    border: 2px dashed #ff0000;
    width:50%;
    font-size: 2rem;
    padding: 0.5em;
}
body{
    min-height: 100vh;
}

main{
    background-color: skyblue;
    font-size: 1rem;
    
}
p{
    font-size: 1rem;
    width: 40ch;
}
